<div class="p-2">
  <% if logged_in? %>
    <%= form_with(model: [post, comment], local: true ) do |f| %>
      <div class="d-flex justify-content-content">
        <%= render 'users/user_image', user: current_user %>
        <p class="p-3">コメントを投稿</p>
      </div>
      <div class="d-flex justify-content-content">
        <%= f.text_field :content, placeholder: "コメントを入力", class: "form-control" %>
        <%= f.submit '投稿', class: 'btn btn-secondary ml-3' %>
      </div>
    <% end %>
  <% end %>
</div>