<% comments.each do |comment| %>
  <div class="mt-3">
    <%=link_to comment.user.name, comment.user %><br>
    <%= comment.content %><br>
    <small class="text-muted"><%= comment.created_at %></small>
    <hr>
  </div>
<% end %>