<div class="container pt-5">
  <div class="row">
    <div class="col-md-4">
      <%= render 'users/user_top' %>
    </div>
    <div class="col-md-8">
      <%= render 'users/items'%>
      <% if @user.followings.count > 0  %>
        <%= render 'users', users: @followings %>
      <% else %>
        <p class="pt-3">フォローしていません。</p>
      <% end %>
    </div>
  </div>
</div>
