<div class="wrapper">
  <div class="user-left">
    <%= render 'users/user_top' %>
  </div>
  <div class="user-right">
    <%= render 'users/items'%>
    <% if @user.followers.count > 0  %>
      <%= render 'users', users: @followers %>
    <% else %>
      <p class="mt-3 pt-3 pb-3 no-followers">フォローされていません。</p>
    <% end %>
  </div>
</div>
