<div class="container pt-5">
  <div class="row">
    <div class="col-md-4">
      <%= render 'users/user_top' %>
    </div>
    <div class="col-md-8">
      <%= render 'users/items'%>
      <% if @user.followers.count > 0  %>
        <%= render 'users', users: @followers %>
      <% else %>
        <p class="pt-3">フォローされていません。</p>
      <% end %>
    </div>
  </div>
</div>
