<div class="container">
  <div class="bg-light p-3">
    <%= form_tag(users_path, :method => 'get') do %>
      <%= text_field_tag :search, '', class: 'form-control', :placeholder => "ユーザー検索"%>
      <%= submit_tag 'Search', :name => nil, class: 'btn btn-outline-primary' %>
    <% end %>
  </div>
  <div>
    <% if @users.count > 0  %>
      <%= render 'users', users: @users %>
    <% else %>
      <p>該当するユーザーが見つかりませんでした。</p>
    <% end %>
  </div>
</div>