<div class="container pt-5">
  <div class="row">
    <div class="col-md-4">
      <%= render 'users/user_top' %>
    </div>
    <div class="col-md-8">
      <%= render 'users/items'%>
      <% if @user.likes.count > 0  %>
        <%= render 'posts/posts', posts: @likes %>
      <% else %>
        <p class="pt-3">お気に入りはありません。</p>
      <% end %>
    </div>
  </div>
</div>