<div class="container pt-5">
  <div class="row">
    <div class="col-md-4">
      <%= render 'users/user_top' %>
    </div>
    <div class="col-md-8">
      <%= render 'users/items'%>
      <% if @user.posts.count > 0  %>
        <%= render 'posts/posts', posts: @posts %>
      <% else %>
        <p class="pt-3">投稿はありません。</p>
      <% end %>
    </div>
  </div>
</div>
