<div class="center jumbotron">
  <div class="text-center">
    <h1>サイトタイトル</h1>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <%= render 'posts/posts', posts: @posts %>
  </div>
  <div class="col-6">
    <%= render 'users/users', users: @users %>
  </div>
</div>