<div class="container-fluid">
  <div class="row justify-content-end">
    <% if current_user == post.user && controller.action_name == "show"%>
      <!--編集ボタン-->
      <div>
        <%=link_to edit_post_path(post), class: "btn btn-default" do %>
          <i class="far fa-edit"></i>
        <% end %>
      </div>
      <!--削除ボタン-->
      <div>
        <%= link_to post, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-default", remote: true do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>