<%= render 'favorites/favorite_button', post: post %>
<% if current_user == post.user %>
  <!--編集ボタン-->
  <div class="mt-1">
    <%=link_to edit_post_path(post), class: "btn btn-default post-edit-button" do %>
      <i class="far fa-edit fa-lg fa-fw"></i>
    <% end %>
  </div>
  <!--削除ボタン-->
  <div id="deleted_button" class="mt-1">
    <%= link_to post, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-default post-delete-button", remote: true do %>
      <i class="far fa-trash-alt fa-lg fa-fw"></i>
    <% end %>
  </div>
  
<% end %>
