<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="pb-5">
      <%= render 'posts/search' %>
    </div>
    <div>
      <%= render 'posts/index_items' %>
    </div>
    <div>
      <% if @posts.count > 0  %>
        <%= render 'posts/posts', posts: @posts %>
      <% else %>
        <p>該当する投稿が見つかりませんでした。</p>
      <% end %>
    </div>
  </div>
</div>