/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


#flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

#flex-container .flex-container-item {
  display: block;
  height: 200px;
  position: relative;
}

@media screen and (min-width:480px) and (max-width:599px) {
  #flex-container .flex-container-item{
    width: 100%;
  }
}

@media screen and (min-width:600px) and (max-width:959px) {
  #flex-container .flex-container-item{
    width: 50%;
  }
}

@media screen and (min-width:960px) and (max-width:1279px) {
  #flex-container .flex-container-item{
    width: 25%;
  }
}

@media screen and (min-width:1280px) {
  #flex-container .flex-container-item{
    width: 25%;
  }
}

.flex-container-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.flex-container-item p{
  position: absolute;
  top: 50%;
  left: 0;
  margin: 0;
  color: white;
  font-weight: bold;
  font-size: 1em;
  font-family :Quicksand, sans-serif;
  text-shadow: 1px 1px 1px black;
  word-break:break-all;
  word-wrap:break-word;
}


.flex-container-item:hover{
  cursor: pointer;
  opacity: 0.7;
}

body{
  background-color: white;
}

.menu {
  position: relative;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  background-color: white;
  margin-bottom: 30px;
  text-align: center;
  border-bottom: solid 1px black;
}

.menu > li{
  height: 60px;
  line-height: 60px;
  list-style: none;
  text-align: center;
  cursor: pointer;
}

.navbar-item{
  width: 60px;
}

.navbar-item a{
  display: block;
}

.title-logo a{
  width: 200px;
  text-decoration : none;
  font-size: 20px;
  line-height: 60px;
  font-family: 'arial black';
}

.menu__second-level{
  text-align: left;
  padding: 0;
  
}

.menu__second-level a:hover{
  background-color: #00558F;
  color: white;
}

.menu__second-level a{
  text-decoration : none;
  /*background-color: blue;*/
  padding-right: 10px;
  padding-left: 10px;
  /*border: solid 1px red;*/
}

.title-logo a:hover{
  color: #212529;
  
}

.menu > .navbar-item {
  background: white;
  border-left: solid 1px white;
  border-bottom: solid 1px black;
}

ul.menu__second-level {
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  list-style: none;
}

.navbar-item {
  position: relative;
}

li.navbar-icon ul.menu__second-level {
  position: absolute;
  top: 60px;
  left: -141px;
  width: 200px;
  background: #A4C6FF;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

li.navbar-item:hover ul.menu__second-level {
  top: 60px;
  visibility: visible;
  opacity: 0.9;
}

a{
  color: #212529; 
  text-decoration : underline;
}

a:hover{
  color: #AAA;
  text-decoration: none;
}

.post_user_name a{
  color: #6c757d; 
  text-decoration : underline;
}

.post_user_name a:hover{
  color: #212529;
  text-decoration: none;
}


/*"posts/post"*/
.post-title{
  width: 100%;
  overflow: hidden;
}


.post-index{
  border-radius: 0;
  position: relative;
}

/*.post-index:after {*/
/*	position: absolute;*/
/*	top: 0;*/
/*	left: 0;*/
/*	border-right: 20px solid transparent;*/
/*	border-top: 20px solid red; */
/*	content: "";*/
/*	opacity: 0.5;*/
/*}*/

.post-index:hover, .media:hover{
  cursor: pointer;
  background-color: #DDD;
  z-index: 2;
}

.flash_messages{
  text-align: center;
}

.flash_message{
  position: fixed;
  top: 56px;
  width: 100%;
}

#user_items{
  border-bottom: double 3px #212529;
  padding: 0 0 10px 0;
}

#user_items .nav-item a:hover{
  background-color: #00558F;
  border: none;
  margin: 0;
  color: white;
}

#user_items .nav-item a{
  border: none;
  margin: 0;
  text-decoration : none;
}

.nav-tabs .nav-link {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#user_items .nav-link.active{
  background-color: #00558F;
  color: white;
  border: none;
}

.media{
  background-color: white;
}

.post_show{
  background-color: white;
}


.trim-image-to-circle img{
  width:  50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 50%;
}

.trim-image-to-circle-navbar img{
  width:  40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 50%;
}

.trim-image-to-circle-lg img{
  width:  300px;
  height: 300px;
  border-radius: 3%;
  object-fit: cover;
  object-position: 50% 50%;
}

.trim-post-image img{
  width: 120px;
  height: 120px;
  border-radius: 3%;
  object-fit: cover;
  object-position: 50% 50%;
}

.trim-post-image-lg img{
  width: 100%;
  height: 500px;
  /*border-radius: 3%;*/
  /*height: 200px;*/
  object-fit: cover;
  object-position: 50% 50%;
}

.hidden{
  display: none;
}


.navbar{
  border-bottom: solid 1px gray;
}

.post-title{
  position: relative;
}

.post-bottom{
  width: 100%;
  /*position: absolute;*/
  /*bottom: 0;*/
}

.new_posts, .recommrnd-users{
  border-bottom: double 3px #212529;
}

/*.new_posts h5, .recommrnd-users h5{*/
/*  font-weight: bold;*/
/*}*/

.title-search, .user-search{
  width: 50%;
}

.comment-formarea{
  width: 100%;
  background-color: white;
}

p{
  margin-bottom: 0;
}

.user-edit-button{
  width: 100%;
}

.user-edit-button a{
  display:block;
  padding:10px;
  background-color: #DDD;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

.user-edit-button a:hover{
  background-color: #AAA;
  color: red;
}

.follow, .unfollow{
  border: solid 2px #00558F;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 150px;
}

.follow{
  background-color: white;
  color: #00558F;
  cursor: pointer;
}

.follow:hover{
  background-color: #00558F;
  color: white;
}

.unfollow{
  background-color: #00558F;
  color: white;
  cursor: pointer;
}

.unfollow:hover{
  background-color: white;
  color: #00558F;
}



.my-small{
  font-size: 0.8em 
}

.comment-form{
  background-color: #DDD;
}

.no-likes, .no-posts, .no-followers, .no-followings, .no-comments{
  background-color: #DDD;
  text-align: center;
}

.footer{
  height: 100px;
  width: 100%;
  background-color: white;
  border-top: solid 1px gray;
  text-align: center;
}

ul{
  list-style: none;
  padding: 0;
}

.post-show-item{
  text-align: center;
  /*background-color: #00558F;*/
  border: solid 2px #00558F;
  color: #00558F;
  /*margin: 5px;*/
  padding: 3px;
  width: 130px;
  height: 100%;
}

.post-show{
  position: relative;
}

.post-show-button{
  position: absolute;
  top: 10px;
  right: 10px;
}

.like, .post-edit-button, .post-delete-button{
  background-color: white;
  color: #00558F;
  border: solid 2px #00558F;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.6);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display:table-cell;
}

.like:hover, .post-edit-button:hover, .post-delete-button:hover{
  background-color: #00558F;
  color: white;
  cursor: pointer;
}

.unlike{
  background-color: white;
  color: #00558F;
  border: solid 2px #00558F;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.6);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  
}
.unlike:hover{
  background-color: #00558F;
  color: white;
  cursor: pointer;
}
