/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


#flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

#flex-container .flex-container-item {
  display: block;
  height: 200px;
  position: relative;
}

@media screen and (min-width:480px) and (max-width:599px) {
  #flex-container .flex-container-item{
    width: 100%;
  }
}

@media screen and (min-width:600px) and (max-width:959px) {
  #flex-container .flex-container-item{
    width: 50%;
  }
}

@media screen and (min-width:960px) and (max-width:1279px) {
  #flex-container .flex-container-item{
    width: 25%;
  }
}

@media screen and (min-width:1280px) {
  #flex-container .flex-container-item{
    width: 25%;
  }
}

.flex-container-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
}

.flex-container-item p{
  position: absolute;
  top: 70%;
  left: 5%;
  margin:0;
  padding:0;
  font-weight: bold;
  font-size: 1em;
  font-family :Quicksand, sans-serif;
}

.flex-container-item:hover{
  cursor: pointer;
  opacity: 0.5;
}

body{
  background-color: white;
}


.navbar-brand{
  text-decoration : none;
}

.navbar-nav li a{
  text-decoration : none;
}

.navbar-nav li a{
  text-decoration : none;
}

a{
  color: #212529; 
  text-decoration : underline;
}

a:hover{
  color: #AAA;
  text-decoration: none;
}

.post_user_name a{
  color: #6c757d; 
  text-decoration : underline;
}

.post_user_name a:hover{
  color: #212529;
  text-decoration: none;
}


/*"posts/post"*/
.post-title{
  width: 100%;
  overflow: hidden;
}

.post-title h5{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post-index{
  border-radius: 0;
  position: relative;
}

/*.post-index:after {*/
/*	position: absolute;*/
/*	top: 0;*/
/*	left: 0;*/
/*	border-right: 20px solid transparent;*/
/*	border-top: 20px solid red; */
/*	content: "";*/
/*	opacity: 0.5;*/
/*}*/

.post-index:hover, .media:hover{
  cursor: pointer;
  background-color: #DDD;
  z-index: 2;
}

.flash_messages{
  text-align: center;
}

.flash_message{
  position: fixed;
  top: 56px;
  width: 100%;
}

#user_items .nav-item{
  /*border-top: solid 1px gray;*/
  /*border-right: solid 1px gray;*/
  /*border-left: solid 1px gray;*/
  border: none;
  border-radius: 20px 20px 0 0;
}

#user_items .nav-item:hover{
  background-color: white;
}

#user_items .nav-link{
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}

#user_items .nav-link.active{
  background-color: white;
  border-radius: 20px 20px 0 0;
}

#user_items .nav-link{
  border: none;
}
.nav-tabs {
  border-bottom: none;
}

.user_item {
  background-color: white;
}

.media{
  background-color: white;
}

.nav-tabs .nav-item > a{
  text-decoration: none;
}

.nav-tabs .nav-item > a:hover{
  color: #212529;
  text-decoration: none;
}

.post_show{
  background-color: white;
}

.follow, .unfollow{
  width: 100px;
}

.unfollow:hover{
  background-color: rgba(0,0,0,0.1);
  color:red;
}

.trim-image-to-circle img{
    width:  50px;
    height: 50px;
    border-radius: 10%;
    object-fit: cover;
    object-position: 50% 50%;
}

.trim-image-to-circle-lg img{
    width:  200px;
    height: 200px;
    border-radius: 10%;
    object-fit: cover;
    object-position: 50% 50%;
}

.hidden{
  display: none;
}




