<div class="flash_messages fixed-top">
  <div class="flash_message">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
  </div>
</div>