<% if controller_name == "toppages" && controller.action_name == "index" && (params[:page] == 1 || params[:page].blank?) %>
  <div class="top mb-5">
    <%= image_tag('/top.jpg') %>
    <p>minimal life<br>maximum happiness</p>
  </div>
<% end %>
